body{
    background-color: #dddddd;
}


.navbar-nav.navbar-center {
    position: absolute;
    left:65%;
    transform: translatex(-50%);
}

div.absolute {
  position: absolute;
  top: 38px;
  width: 142px;
  height: 25px;
  background-color: #4aaaa5;
  margin-top: 15%;
  color: white;
  text-align: center;
  margin-left: 7.25px;
}

div.absolute2 {
  position: absolute;
  top: 150px;
  width: 142px;
  height: 25px;
  background-color: #4aaaa5;
  margin-top: 15%;
  color: white;
  text-align: center;
  margin-left: 7.25px;
}

div.absolute3 {
  position: absolute;
  top: 268px;
  width: 142px;
  height: 25px;
  background-color: #4aaaa5;
  margin-top: 15%;
  color: white;
  text-align: center;
  margin-left: 7.25px;
}

.btn-info{
    margin-left: 27%;
}

h2{
    color: #4aaaa5;
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
}

hr{
    height: 1px solid;
    border: 1px solid lightgrey;
}
.wrapper {
    width: 600px;
    padding: 10px;
    border: 5px white;
    margin-left: 28%;
    float: center;  
    margin-bottom: 30%;
    background-color: white;
    margin-top: 2%;
}
.container{
    margin-left: 50%;
    max-width: 960px;

}

.footer-copyright{
background-color: #666666;
  border-top: 3px solid;
  border-color: #4aaaa5;
  position: absolute;
  width: 100%;
  margin-right: 150%;
  bottom:0;
  left:0;
  height:40px;
  margin-top: #4aaaa5;
  color: white;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  .row2 {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  

  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    margin-right: 20%;
    margin-left: 7px;
    position:relative;
    margin-bottom: 7px;
  }
 .image-resize{
     height: 100px;
 } 

  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }